body {
    position: relative;
    background-color: #161616;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ball {
    position: absolute;
    background-color: #FD1860;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    animation: bounce 1s ease-out infinite backwards alternate;
}

.lines {
    position: absolute;
    width: 45px;
    height: 80px;
    margin-bottom: 50px;
}

.shadow {
    position: absolute;
    z-index: -1;
    margin-top: 15px;
    width: 30px;
    height: 10px;
    border-radius: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.8253676470588236) 0%, rgba(15,15,15,0.7833508403361344) 41%);
    animation: shadow 1s ease-out infinite alternate;
}

@keyframes bounce {
    0% {
        width: 70px;
        height: 20px;
    }

    10% {
        width: 40px;
        height: 40px;
        
    }

    100% {
        transform: translateY(-200px);
    }
}

@keyframes shadow {
    from {
        width: 70px;
        height: 10px;
        opacity: 1;
    }

    to {
        width: 30px;
        height: 10px;
        opacity: .4;
    }
}